{% extends 'main.html' %} {% load static %} {% block content %}

<br />

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="{% static 'images/login.png' %}" class="img-fluid" alt="Sample image" />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="post">
          {% csrf_token %}

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input name="username" type="text" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid username" />
            <label class="form-label" for="form3Example3">Username</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input name="password" type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password" />
            <label class="form-label" for="form3Example4">Password</label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-lg" style="
                padding-left: 2.5rem;
                padding-right: 2.5rem;
                background-color: rgb(95, 28, 28);
                color: white;
              ">
              Login
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              Don't have an account?
              <a href="/register" style="color: rgb(210, 25, 25)" class="fs-5">Register</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}

<!-- OLD CODE -->
<!-- <section style="background-color: rgb(216, 213, 213);">
  <br>
<h2 >Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form>
<br>
<br>
<br>
<p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>

</section> -->